.dark-mode-btn{
    background:none;
    border: none;
    cursor: pointer;
}

.container-btn{
    margin:10px;
    background: #0E1F4A;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid black;
}


.container-btn a{
    color: #fff;
}